@font-face {
    font-family: "main";
    src: url(assets/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font: 1rem sans-serif;
    height: 100vh;
    background-color: black;
}

label {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    font-size: 0.6rem;
    letter-spacing: 1px;
}

.sign-up-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 450px;
    background-image: url(assets/hero-image.jpg);
    background-size: cover;
}

.hero {
    width: 100%;
}

.logo-wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    justify-content: center;
}

.logo {
    display: flex;
    color: white;
    font: 4rem "main";
    height: fit-content;
    align-items: center;
}

.logo img {
    width: 75px;
}

.form-wrapper,
.form-header,
.form,
.col-row {
    display: flex;
    flex-direction: column;
}

.form-header {
    flex: 0.4;
    padding: 20px;
}

.form {
    flex: 0.25;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
}

.form-header>div>p {

    font-size: 1.2rem;
    color: white;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-row input {
    border: solid 1px rgb(197, 196, 196);
    border-radius: 3px;
    
}

.col-row {
    margin: 20px 0;
}

.submit {
    display: flex;
    flex: 0.35;
}

.submit-btn {
    display: flex;
    width: 100%;
}

.submit-btn button {
    height: fit-content;
    background-color: #596d48;
    height: 40px;
    border: none;
    border-radius: 6px;
    box-shadow: black 0 0 10px;
}

.submit-btn button:hover {
    background-color: #4b5c3c;
}

.submit-btn button:active {
    border: solid 1px rgb(0, 0, 0);
}

@media only screen and (min-width: 600px) {

    body {
        align-items: center;
    }

    .sign-up-page {
        flex-direction: row;
        align-items: normal;
        display: flex;
        width: 100%;
        max-width: 1440px;
        min-height: 1024px;
        background-image: none;
    }

    .hero {
        background-image: url(assets/hero-image.jpg);
        background-size: cover;
        display: flex;
        flex: 0.35;
        min-width: 140px;
        position: relative;
    }
    
    .logo-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 150px;
        background-color: rgba(0, 0, 0, 0.39);
        width: 100%;
        height: fit-content;
    }

    .form-wrapper {
        flex: 0.65;
    }

    .form-header {
        position: relative;
    }

    .form-header>div {
        position: absolute;
        top: 150px;
    }

    .form-header>div>p {
        padding: 20px;
        font-size: 1.5rem;
        color: black;
        max-width: 51ch;
    }

    .form-header,
    .submit {
        background-color: #f9fafb;
    }

    .form {
        color: unset;
        background-color: white;
    }

    .form-row {
        flex-wrap: nowrap;
        justify-content: normal;
    }
    
    .col-row {
        padding-left: 20px;
    }
}